@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #000000;
  --primary: #6366f1;
  --secondary: #d4ff12;
  --tertiary: #f3f4f6;
  
}


body {
  scroll-behavior: smooth;
  font-family: var(--poppins);
}
